<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyExperienceApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyExperience"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.joined_program.JoinedProgramActivity"
            android:exported="true" />
        <activity
            android:name=".ui.program_info.ProgramInfoActivity"
            android:exported="true" />
        <activity
            android:name=".ui.program_category.ProgramCategoryActivity"
            android:exported="true" />
        <activity
            android:name=".ui.reservation.ReservationActivity"
            android:exported="true" />
        <activity
            android:name=".ui.reservation_entrance.ReservationEntranceActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.signin.SignInActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ui.notice.NoticeListActivity"
            android:exported="true" />
        <activity
            android:name=".ui.notice.NoticeDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ui.signup.SignUpActivity"
            android:exported="true"
            android:launchMode="singleTask"></activity>
    </application>

</manifest>